* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

img {
    display: none;
}

#canvas {
   
    max-width: 100%;
    height: 100%;
    /* border: 1px solid gray; */
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    filter: contrast(100%);
    cursor: none;
    
}


